@charset "UTF-8";

:root{
    --ruanc1: #171614;
    --ruanc2: #F2F3D9;
    --ruanc3: #FCB0B3;
    --ruanc4: #7D7C7A;
    --ruanc5: #A31621;
    --ruanc6: #000000;
    --ruanc7: #FFFFFF;
}

*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}




nav {

    width: 1272px;
    border: 10.5px groove var(--ruanc4);
    margin: auto;
    padding: 18px;
    background-color: var(--ruanc4);
    border-radius: 2%;

}

nav > a{
    margin: 10px;
    text-decoration: solid;
}

nav > a:hover{
    background-color: var(--ruanc1);
    padding: 0.5px;
    transition-property: inherit;
    transition-duration: 1.5s;
    border-radius: 2%;

}

main{
    border: 2.5px solid var(--ruanc2);
    width: 1200px;
    margin: auto;
    padding: 1px 4px 4px 4px;
    box-shadow: var(--ruanc6) 13px 10px 18px 16px ;
    margin-bottom: 50px;
    
}

.copa22{
    border: 2.5px solid var(--ruanc2);
    width: 1200px;
    margin: auto;
    padding: 1px 4px 4px 4px;
    box-shadow: 13px 10px 18px 16px ;
    list-style-position: inside;
    margin-bottom: 50px;
    text-indent: 10px;
    
}
 .copa22 > p{
 text-align: left;
 line-height: 1.2em;
 }

.titulo2{
    text-align: center;
}

.falec1{
    text-align: center;
}

body {
    background-color: #171614;
}

.link1{
    text-indent: 20px;
}
p {
    color: #F2F3D9;
    padding-bottom: 10px;
    line-height: 1.2em;
    text-align: justify;
    text-indent: 5px;
}

ul {
    background-color: #171614;
}

li {
    color:var(--ruanc2);
    background-color: #171614;
    text-indent: 5px;
}

.sobrer{
    text-align: center;
}
h1 {
    color: #F2F3D9;
    background-color:#7D7C7A;
}

h2 {
    color: #F2F3D9;
    background-color:#7D7C7A;
}

h3 {
    color: #F2F3D9;
    background-color:#7D7C7A;
}

a {
    color: #F2F3D9;
}

legend {
    color: #F2F3D9;
}

label {
    color: #F2F3D9;
}
.textimg{
    text-align: center;
}

.titulo1{
    text-align: center;
    border-radius: 10;
}

ol{
    color: #F2F3D9;
    padding-bottom: 10px;
    line-height: 1.2em;
    text-align: justify;
    text-indent: 2px;
    list-style-position: inside;
}
.curioso1{
    text-align: center;
}

