@charset "UTF-8";
body {
    background-color: #F2F3D9;
}

root{
    --cor1ruan: #171614;
    --cor2ruan: #F2F3D9;
    --cor3ruan: #FCB0B3;
    --cor4ruan: #7D7C7A;
    --cor5ruan: #A31621;
    --cor6ruan: #000000;
    --cor7ruan: #FFFFFF;
}
*{
    border: 0px;
    margin: 0px;
    padding: 0px;
}


nav{
    width: 800px;
    border: 6.5px groove var(--cor5ruan);
    margin: auto;
}

p {
    color: #A31621;
}

ul {
    background-color: #F2F3D9;
}

li {
    color: #171614;
    background-color: #F2F3D9;
}

h1 {
    color: #A31621;
    background-color:#F2F3D9;
}

h2 {
    color: #F2F3D9;
    background-color:#A31621;
}

h3 {
    color: #F2F3D9;
    background-color:#7D7C7A;
}

a {
    color:#F2F3D9;
    background-color:#A31621;
}

legend {
    color: #F2F3D9;
}

label {
    color: #A31621;
}
